/* Importar folhas de estilos por secções */
@import '../_css/header.css';
@import '../_css/main.css';
@import '../_css/footer.css';
@import '../_css/animation.css';

/* Fontes Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Variáveis globais */
:root {
	--title_color_default: #101010;
	--title_color_secondary: #7C7575;
	--login-button: #0b7bfb;
	--login-button-hover: #3590fa;
	--section-background-default: #F4F4F4;
}

/* Ajustando layout do site... Zerando algum valores padrões dos elementos html. */
* {
	margin: 0;
	padding: 0;
}

html, body {
	box-sizing: border-box;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
	font-size:  larger;
	color: #000000;
	line-height: auto;
}

input {
	border: none;
	background-color: rgba(25,25,25,0.400);
}

button {
	border: 1px solid rgb(25,25,25);
	background-color: rgb(50,50,50);
	border-radius: 20px;
	padding: 14px 30px;
}

input:focus {
	outline: none;
	background-color: #000000;
}

form, legend, fieldset {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;
	font-size: medium;
}

p {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;
	font-size: medium;	
}

a {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;
	text-decoration: none;
	color: #000000;
	font-size: medium;
}

/* Grid Layout */
.grid-layout {
	display: grid;
	grid-template-rows: header main footer;
	grid-row-gap: 10px;
}